@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* header search */
.show_search {
  animation: showSearch 0.5s ease-in;
}
@keyframes showSearch {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

/* show menu */
.show_menu {
  animation: showMenu 0.3s ease-in;
}
@keyframes showMenu {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

/* hero-section */
.hero-section {
  background-image: url("/assets/hero/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .hero-section {
    background-position: top;
  }
}

/* datePicker */
.react-datepicker {
  /* width: 100% !important; */
  max-width: none !important;
  font-family: "Poppins", sans-serif !important;
  background: transparent !important;
}
