@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* main color */
.bg-main {
  background: #0d4b72;
}
.text-main {
  color: #0d4b72;
}

/* header search */
.show_search {
  animation: showSearch 0.5s ease-in;
}
@keyframes showSearch {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

/* show menu */
.show_menu {
  animation: showMenu 0.3s ease-in;
}
@keyframes showMenu {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

/* hero-section */
.hero-section {
  background-image: url("/assets/hero/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .hero-section {
    background-position: top;
  }
}

/* datePicker */
.react-datepicker {
  /* width: 100% !important; */
  max-width: none !important;
  font-family: "Poppins", sans-serif !important;
  background: transparent !important;
}

/* cart */
/* image navigation */
.cart-items_nav .img-nav .swiper-button-prev,
.cart-items_nav .img-nav .swiper-button-next {
  color: white !important;
  background: #0d4b72 !important;
  width: 25px !important;
  height: 25px !important;
  border-radius: 50%;
  display: none;
}
.cart-items_nav .img-nav:hover .swiper-button-prev,
.cart-items_nav .img-nav:hover .swiper-button-next {
  display: flex;
}
.cart-items_nav .img-nav .swiper-button-prev:after,
.cart-items_nav .img-nav .swiper-button-next:after {
  font-size: 0.8rem !important;
}
/* cart items navigation */
.cart-items_nav .swiper-button-next,
.cart-items_nav .swiper-button-prev {
  background: rgba(255, 255, 255, 0.721) !important;
  color: #0d4b72 !important;
  width: 40px !important;
  height: 25px !important;
  border-radius: 0.3rem;
}
.cart-items_nav .swiper-button-next::after,
.cart-items_nav .swiper-button-prev::after {
  font-size: 1rem !important;
  font-weight: bold;
}

/* hero-podcast */
.hero-podcast {
  background-image: url("/assets/podcast/padcast.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .hero-section {
    background-position: top;
  }
}

/* country information */
.country_information::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #1588cb2b;
  --mask: radial-gradient(34.99px at 50% calc(100% - 48px), transparent)
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(34.99px at 50% calc(100% + 18px), #0000 99%, #000 101%) 50%
      calc(100% - 30px) / 120px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

/* Filter */
.small_filter {
  left: -100%;
  animation: filter_animate 0.3s ease-in forwards;
}
@keyframes filter_animate {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
